body, * {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    padding: 10px 5px 15px 5px;
    background-color: burlywood;
    border-bottom: 2px solid black;
}
body {
    background-color: antiquewhite;
    height: 800px;
}
p{
    padding: 10px;
}
code {
    background-color: darkgray;
    border-radius: 3px;
}